# Eat Safe, Love

## Notebook Set Up

In [65]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
from pandas import DataFrame
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(mongo.list_database_names())

['admin', 'classDB', 'config', 'epa', 'fruits_db', 'gardenDB', 'local', 'met', 'petsitly_marketing', 'uk_food']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

In [6]:
pprint(db.establishments.find_one())

{'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'ChangesByServerID': 0,
 'Distance': 4591.765489457773,
 'FHRSID': 1043695,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6BL',
 'RatingDate': '2018-04-04T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65bb8631f13d8961d5c320c0'),
 'geocode': {'latitude': Decimal128('51.083812'),
             'longitude': Decimal128('1.195625')},
 'latitude': None,
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1043695',
            'rel': 'self'}],
 'longitude': None,
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [29]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}

# Use count_documents to display the number of documents in the result
results_hygene = establishments.find(query)

# Display the first document in the results using pprint
print("total establishments with Hygene score 20 is:", establishments.count_documents(query))

total establishments with Hygene score 20 is: 41

In [30]:
# Convert the result to a Pandas DataFrame
Hygene_df = DataFrame(results_hygene)
# Display the number of rows in the DataFrame
Hygene_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         41 non-null     object
 1   FHRSID                      41 non-null     int64
 2   ChangesByServerID           41 non-null     int64
 3   LocalAuthorityBusinessID    41 non-null     object
 4   BusinessName                41 non-null     object
 5   BusinessType                41 non-null     object
 6   BusinessTypeID              41 non-null     int64
 7   AddressLine1                41 non-null     object
 8   AddressLine2                41 non-null     object
 9   AddressLine3                41 non-null     object
 10  AddressLine4                41 non-null     object
 11  PostCode                    41 non-null     object
 12  Phone                       41 non-null     object
 13  RatingValue                 41 non-null     int64
 14  RatingKey                   41 non-null     object
 15  RatingDate                  41 non-null     object
 16  LocalAuthorityCode          41 non-null     object
 17  LocalAuthorityName          41 non-null     object
 18  LocalAuthorityWebSite       41 non-null     object
 19  LocalAuthorityEmailAddress  41 non-null     object
 20  scores                      41 non-null     object
 21  SchemeType                  41 non-null     object
 22  geocode                     41 non-null     object
 23  RightToReply                41 non-null     object
 24  Distance                    41 non-null     float64
 25  NewRatingPending            41 non-null     bool
 26  meta                        41 non-null     object
 27  links                       41 non-null     object
 28  latitude                    0 non-null      object
 29  longitude                   0 non-null      object
dtypes: bool(1), float64(1), int64(4), object(24)
memory usage: 9.5+ KB

In [ ]:
###<class 'pandas.core.frame.DataFrame'>
###RangeIndex: 41 entries, 0 to 40
###Data columns (total 30 columns):
#...
#dtypes: bool(1), float64(1), int64(4), object(24)
#memory usage: 9.5+ KB###

In [31]:
# Display the first 10 rows of the DataFrame
Hygene_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,latitude,longitude
0,65bb8632f13d8961d5c33bf0,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.27694, 'latitude': 50.769705}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,65bb8632f13d8961d5c33f73,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 1.278721, 'latitude': 51.857536}",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
2,65bb8632f13d8961d5c34285,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 1.15927, 'latitude': 51.789429}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
3,65bb8632f13d8961d5c3446b,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.10202, 'latitude': 50.770885}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
4,65bb8632f13d8961d5c3447a,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.101446, 'latitude': 50.770724}",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
5,65bb8632f13d8961d5c34e17,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.736349, 'latitude': 51.541448}",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
6,65bb8632f13d8961d5c3503a,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.7121671, 'latitude': 51.5350065}",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
7,65bb8632f13d8961d5c36563,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 0.602364, 'latitude': 51.591515}",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,65bb8632f13d8961d5c369a7,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': 0.146449998021126, 'latitude': 5...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,65bb8632f13d8961d5c371ba,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.462307, 'latitude': 51.57005}",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [19]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

query = {"LocalAuthorityName": {'$regex': "London"}, "RatingValue": {"$gte": 4}} 

# Use count_documents to display the number of documents in the result
results_Localauthority = establishments.find(query)

# Display the first document in the results using pprint
for i in range(1):
 pprint(results_Localauthority[i])


# Use count_documents to display the number of documents in the result
test = establishments.count_documents(query)

# Display the first document in the results using pprint
print("Total of establishments with London as the Local Authority:", test)

{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65bb8632f13d8961d5c3560d'),
 'geocode': {'latitude': Decimal128('51.369321'),
             'longitude': Decimal128('0.508551')},
 'latitude': None,
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'longitude': None,
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}
Total of establishments with London as the Local Authority: 33

In [20]:
# Convert the result to a Pandas DataFrame
London_df = DataFrame(results_Localauthority)
# Display the number of rows in the DataFrame
London_df.info()
# Display the first 10 rows of the DataFrame
London_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         33 non-null     object
 1   FHRSID                      33 non-null     int64
 2   ChangesByServerID           33 non-null     int64
 3   LocalAuthorityBusinessID    33 non-null     object
 4   BusinessName                33 non-null     object
 5   BusinessType                33 non-null     object
 6   BusinessTypeID              33 non-null     int64
 7   AddressLine1                33 non-null     object
 8   AddressLine2                33 non-null     object
 9   AddressLine3                33 non-null     object
 10  AddressLine4                33 non-null     object
 11  PostCode                    33 non-null     object
 12  Phone                       33 non-null     object
 13  RatingValue                 33 non-null     int64
 14  RatingKey                   33 non-null     object
 15  RatingDate                  33 non-null     object
 16  LocalAuthorityCode          33 non-null     object
 17  LocalAuthorityName          33 non-null     object
 18  LocalAuthorityWebSite       33 non-null     object
 19  LocalAuthorityEmailAddress  33 non-null     object
 20  scores                      33 non-null     object
 21  SchemeType                  33 non-null     object
 22  geocode                     33 non-null     object
 23  RightToReply                33 non-null     object
 24  Distance                    33 non-null     float64
 25  NewRatingPending            33 non-null     bool
 26  meta                        33 non-null     object
 27  links                       33 non-null     object
 28  latitude                    0 non-null      object
 29  longitude                   0 non-null      object
dtypes: bool(1), float64(1), int64(4), object(24)
memory usage: 7.6+ KB

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,latitude,longitude
0,65bb8632f13d8961d5c3560d,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,"{'Hygiene': 5, 'Structural': 10, 'ConfidenceIn...",FHRS,"{'longitude': 0.508551, 'latitude': 51.369321}",,4627.439468,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,65bb8632f13d8961d5c35931,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 0.249255999922752, 'latitude': 5...",,4627.873179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
2,65bb8632f13d8961d5c36482,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.561954, 'latitude': 51.543831}",,4631.968418,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
3,65bb8632f13d8961d5c37280,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.346325, 'latitude': 51.464078}",,4636.847650,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
4,65bb8632f13d8961d5c37281,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 0.346336990594864, 'latitude': 5...",,4636.846754,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
5,65bb8632f13d8961d5c37987,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.287555, 'latitude': 51.504071}",,4640.460834,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
6,65bb8632f13d8961d5c39a92,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 0.069286, 'latitude': 51.501121}",,4648.301822,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
7,65bb8632f13d8961d5c39e5d,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,"{'Hygiene': 10, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': 0.048006, 'latitude': 51.503733}",,4649.173485,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,65bb8632f13d8961d5c39e76,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0479655750095844, 'latitude': ...",,4649.188850,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,65bb8632f13d8961d5c39e78,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.047966, 'latitude': 51.504112}",,4649.188826,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [77]:
# Search within 0.01 degree on either side of the latitude and longitude.

# Construct the query
query = {
    "$and": [
        {"geocode.longitude": {"$gte": 0.08384000, "$lte": 0.09384}},
        {"geocode.latitude": {"$gte": 51.49014200, "$lte": 51.500142}},
        {"RatingValue": 5}
    ]
}

# Define the sorting criteria
sort = [('scores.Hygiene', 1)]

# Define the limit for the number of results
limit = 5

# Perform the query, sort, and limit the results
results_top5 = establishments.find(query).sort(sort).limit(limit)

# Convert the cursor to a list of dictionaries
results_list = list(results_top5)

# Convert the list of dictionaries to a DataFrame
top_5_near_df = pd.DataFrame(results_list)

# Display the information about the DataFrame
top_5_near_df.info()

# Display the DataFrame
print(top_5_near_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         5 non-null      object
 1   FHRSID                      5 non-null      int64
 2   ChangesByServerID           5 non-null      int64
 3   LocalAuthorityBusinessID    5 non-null      object
 4   BusinessName                5 non-null      object
 5   BusinessType                5 non-null      object
 6   BusinessTypeID              5 non-null      int64
 7   AddressLine1                5 non-null      object
 8   AddressLine2                5 non-null      object
 9   AddressLine3                5 non-null      object
 10  AddressLine4                5 non-null      object
 11  PostCode                    5 non-null      object
 12  Phone                       5 non-null      object
 13  RatingValue                 5 non-null      int64
 14  RatingKey                   5 non-null      object
 15  RatingDate                  5 non-null      object
 16  LocalAuthorityCode          5 non-null      object
 17  LocalAuthorityName          5 non-null      object
 18  LocalAuthorityWebSite       5 non-null      object
 19  LocalAuthorityEmailAddress  5 non-null      object
 20  scores                      5 non-null      object
 21  SchemeType                  5 non-null      object
 22  geocode                     5 non-null      object
 23  RightToReply                5 non-null      object
 24  Distance                    5 non-null      float64
 25  NewRatingPending            5 non-null      bool
 26  meta                        5 non-null      object
 27  links                       5 non-null      object
 28  latitude                    0 non-null      object
 29  longitude                   0 non-null      object
dtypes: bool(1), float64(1), int64(4), object(24)
memory usage: 1.3+ KB
                        _id   FHRSID  ChangesByServerID  \
0  65bb8632f13d8961d5c39722   695236                  0
1  65bb8632f13d8961d5c397df  1154241                  0
2  65bb8632f13d8961d5c396d6  1319113                  0
3  65bb8632f13d8961d5c396be   695316                  0
4  65bb8632f13d8961d5c39718   695003                  0

  LocalAuthorityBusinessID      BusinessName  \
0             PI/000179022    Domino's Pizza
1                    12817     The Real Deal
2                    14007  Suya Academy Ltd
3             PI/000182673        McDonald's
4             PI/000171503             Tesco

                            BusinessType  BusinessTypeID        AddressLine1  \
0                 Takeaway/sandwich shop            7844      1 Thames Reach
1                Other catering premises            7841   190 Whinchat Road
2                Restaurant/Cafe/Canteen               1  148 Plumstead Road
3                Restaurant/Cafe/Canteen               1  3 Pettman Crescent
4  Retailers - supermarkets/hypermarkets            7840  7 - 8 Thames Reach

  AddressLine2 AddressLine3  ...  \
0                Thamesmead  ...
1                Thamesmead  ...
2                  Woolwich  ...
3                Thamesmead  ...
4                Thamesmead  ...

                                              scores SchemeType  \
0  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
1  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
2  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...       FHRS
3  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
4  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS

                                            geocode  RightToReply  \
0  {'longitude': 0.0895991, 'latitude': 51.4987492}
1  {'longitude': 0.0844204, 'latitude': 51.4978398}
2  {'longitude': 0.0839974, 'latitude': 51.4901495}
3  {'longitude': 0.0853967, 'latitude': 51.4908567}
4  {'longitude': 0.0902181, 'latitude': 51.4989512}

      Distance NewRatingPending  \
0  4647.474281            False
1  4647.629743            False
2  4647.363243            False
3  4647.338141            False
4  4647.459121            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links latitude longitude
0  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
1  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
2  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
3  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
4  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None

[5 rows x 30 columns]

In [78]:
# Convert result to Pandas DataFrame
top_5_near_df.head()

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,latitude,longitude
0,65bb8632f13d8961d5c39722,695236,0,PI/000179022,Domino's Pizza,Takeaway/sandwich shop,7844,1 Thames Reach,,Thamesmead,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0895991, 'latitude': 51.4987492}",,4647.474281,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
1,65bb8632f13d8961d5c397df,1154241,0,12817,The Real Deal,Other catering premises,7841,190 Whinchat Road,,Thamesmead,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0844204, 'latitude': 51.4978398}",,4647.629743,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
2,65bb8632f13d8961d5c396d6,1319113,0,14007,Suya Academy Ltd,Restaurant/Cafe/Canteen,1,148 Plumstead Road,,Woolwich,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 0.0839974, 'latitude': 51.4901495}",,4647.363243,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
3,65bb8632f13d8961d5c396be,695316,0,PI/000182673,McDonald's,Restaurant/Cafe/Canteen,1,3 Pettman Crescent,,Thamesmead,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0853967, 'latitude': 51.4908567}",,4647.338141,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
4,65bb8632f13d8961d5c39718,695003,0,PI/000171503,Tesco,Retailers - supermarkets/hypermarkets,7840,7 - 8 Thames Reach,,Thamesmead,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0902181, 'latitude': 51.4989512}",,4647.459121,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [70]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
pipeline = [
    {
        "$match": {
            "scores.Hygiene": 0 
        }
    },
    {
        "$group": {
            "_id": "$LocalAuthorityName",
            "total_establishments": {"$sum": 1}
        }
    },
    {
        "$sort": {"total_establishments": -1}
    },
    {
        "$limit": 10
    }
]

# Perform the aggregation query
results_scorezero = establishments.aggregate(pipeline)

# Print the results
pprint(list(results_scorezero))

aggregation_results = [
    {'_id': 'Thanet', 'total_establishments': 1130},
    {'_id': 'Greenwich', 'total_establishments': 882},
    {'_id': 'Maidstone', 'total_establishments': 713},
    {'_id': 'Newham', 'total_establishments': 711},
    {'_id': 'Swale', 'total_establishments': 686},
    {'_id': 'Chelmsford', 'total_establishments': 680},
    {'_id': 'Medway', 'total_establishments': 672},
    {'_id': 'Bexley', 'total_establishments': 607},
    {'_id': 'Southend-On-Sea', 'total_establishments': 586},
    {'_id': 'Tendring', 'total_establishments': 542}
]

# Convert the list of dictionaries to a DataFrame
scorezero_df = pd.DataFrame(aggregation_results)

# Display the DataFrame
print(scorezero_df)

[{'_id': 'Thanet', 'total_establishments': 1130},
 {'_id': 'Greenwich', 'total_establishments': 882},
 {'_id': 'Maidstone', 'total_establishments': 713},
 {'_id': 'Newham', 'total_establishments': 711},
 {'_id': 'Swale', 'total_establishments': 686},
 {'_id': 'Chelmsford', 'total_establishments': 680},
 {'_id': 'Medway', 'total_establishments': 672},
 {'_id': 'Bexley', 'total_establishments': 607},
 {'_id': 'Southend-On-Sea', 'total_establishments': 586},
 {'_id': 'Tendring', 'total_establishments': 542}]
               _id  total_establishments
0           Thanet                  1130
1        Greenwich                   882
2        Maidstone                   713
3           Newham                   711
4            Swale                   686
5       Chelmsford                   680
6           Medway                   672
7           Bexley                   607
8  Southend-On-Sea                   586
9         Tendring                   542

In [80]:
scorezero_df.head(10)

               _id  total_establishments
0           Thanet                  1130
1        Greenwich                   882
2        Maidstone                   713
3           Newham                   711
4            Swale                   686
5       Chelmsford                   680
6           Medway                   672
7           Bexley                   607
8  Southend-On-Sea                   586
9         Tendring                   542